{% extends 'history.html' %}


{% block content %}
    <div class="msg-head">
        <div class="row">
            <div class="col-8">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 ms-3">
                        <h3 id="title"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-body">
        <div class="msg-body">
            <div id="list-group" class="list-group w-auto">
            </div>
        </div>
    </div>


    <div class="send-box">
        <form action="">
            <input type="text" class="form-control"  id="chat-input" aria-label="message…" placeholder="Write message…">

            <button type="button" id="gpt-button"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
        </form>
    </div>

    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register("/sw.js", { scope: '/' }).then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
            });
        });
        }
    </script>
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}