{% extends 'history.html' %}


{% block content %}
    <div class="msg-head">
        <div class="row">
            <div class="col-8">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 ms-3">
                        <h3 id="title"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-body">
        <div class="msg-body">
            <div id="list-group" class="list-group w-auto">
            </div>
        </div>
    </div>
{% endblock %}