{% extends 'index.html' %}


{% block content %}
    <br>
    <br>
    <h1 class="mt-5">Онлайн чат с нейронной сетью Chat GPT 🚀🚀🚀</h1>
    <p class="lead">
        На данный момент вам доступен тестовый период в 1000 слов. Осталось 124 (это заглушка)
    </p>


    <div id="list-group" class="list-group w-auto">
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" id="chat-input">
        <div class="input-group-append">
        <button id="gpt-button" class="btn btn-primary">Отправить</button>
        </div>
    </div>


    </div>

    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}